<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/game.css">
    <script src="./javascript/game.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <h1>Waldo's page</h1>
    <form action="/start">
        <button type="submit" class="start-game">Start</button>
    </form>
    <div class="image-container" onclick="getCoordinates(event)">
        <img src="./images/<%= image %>.jpeg" alt="gameCanvas">
    </div>
</body>
</html>