<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <script src="./javascript/index.js"></script>
    <title><%= title %></title>
</head>
<body>
    <h1>This is the home page</h1>
    <ul>
        <li>
            <a href="/game?title=Waldo">visit waldo page</a>
        </li>
    </ul>
</body>
</html>