*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    display: none;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
}

.selection-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid red;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: none;

    background-color: rgba(0, 0, 0, 0.2);
}

.options-menu {
    position: absolute;
    background-color: darkblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: none;
}

.options-menu button {
    display: block;
    background: none;
    border: none;
    padding: 4px 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;

    color: white;
}

.options-menu button:hover {
    background-color: rgb(73, 73, 174)
}

/*Modal*/

.form-background {

    display: none;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.record-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid gray;
    background-color: white;
    width: 50%;
    height: 300px;
    gap: 10px;
}